<h1><%= @article.title %></h1>
<p>
	<%= @article.text %>
</p>

<h2>Комментарии:</h2>

<% @article.comments.each do |comment| %>
	<p>
		<i><%= comment.author %> said: </i>
		<%= comment.body %>
	</p>
<% end %>

<h2>Добавить Комментарии:</h2>
<p>
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<p>
			<%= f.label :Автор %><br>
			<%= f.text_field :author %>
		</p>

		<p>
			<%= f.label :Содержание %><br>
			<%= f.text_area :body %>
		</p>

		<p><%= f.submit :Сохранить%></p>
	<% end %>
</p>